---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "The Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h1>At some point, I'll type some stuff, and it'll be here</h1>
    <h2>What self respecting human doesn't have a blog?</h2>
  
    <p>Me, that's who.</p>
  
    <p>You assume I'm human, and that I have self respect.</p>

    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>