---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home"
---

<BaseLayout pageTitle = {pageTitle}>
	<h1>Welcome to my brain dump</h1>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
